.Login {
  margin-top: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;

  .Login__Avatar {
    margin: 10px;
    background: darkcyan;
  }

  .Login__Form {
    width: 100%;
    margin-top: 10px;
  }

  .Login__Submit {
    width: 100%;
    margin-top: 10px;
  }
}
